@charset "UTF-8";

.room_check {
	font-size:30px;
	color:#A4A4A4;
	margin-left:6px;
}

.roomCheck {
      width:100%;
      border-collapse: collapse;
      border-top: 3px solid #168;
      margin-top:20px;
      text-align: center;
    }  
    .roomCheck th {
      color: #168;
      background: #f0f6f9;
      text-align: center;
    }
    .roomCheck th, .roomCheck td {
      padding: 10px;
      border: 1px solid #ddd;
    }
    .roomCheck th:first-child, .roomCheck td:first-child {
      border-left: 0;
    }
    .roomCheck th:last-child, .roomCheck td:last-child {
      border-right: 0;
    }
    
    .roomCheck caption{caption-side: bottom; display: none;}