@charset "UTF-8";

*{
	margin-left : 10px;
	padding : 0;
}

#header{
	width : 100%;
}

#header1, #header3, #header5, #header7, #header9{
	width : 10%;
	height : 28px;
	background : #DCDCDC;
	text-align : center;
	padding : 0;
}


#header2, #header4, #header6, #header8{
	width : 20%;
}

#header11{
	width : 10%;
	height : 28px;
	background : white;
	padding : 0;
}


.attendance_section table{
	border-collapse : collapse;
	width : 100%;
}

.attendance_section tr{
	border-bottom : 1px solid;
	width : 100%;
}

.attendance_section th{
	text-align : left;
	background : #DCDCDC;
	height : 40px;
	padding : 2px 2px 2px 20px;
}

.attendance_section td{
	border-bottom : 1px solid #DCDCDC;
	height : 35px;
	padding : 2px 2px 2px 20px;
}

#btn{
	width : 50px;
	height : 28px;
	background : gainsboro;
	border : 1px solid black;
}



