@charset "UTF-8";

*{
	margin-left : 10px;
	padding : 0;
}


.register_header table, .register_section table{
	width : 80%;
	border-collapse : collapse;
}

#ten{
	background : #DCDCDC;
	width : 10%;
	height : 28px;
	text-align : center;
	padding : 0;
}

.register_header tr{
	height : 40px;
	border-bottom : 1px solid white;
}

.register_section tr{
	border-bottom : 1px solid;
	width : 80%;
}

.register_section th{
	text-align : left;
	background : #DCDCDC;
	height : 40px;
	padding : 2px 2px 2px 20px;
}

.register_section td{
	border-bottom : 1px solid #DCDCDC;
	height : 35px;
	padding : 2px 2px 2px 20px;
}

#except{
	border : 0px;
	width : 10%;
}

#ok{
	width : 50px;
	height : 28px;
	background : gainsboro;
	border : 1px solid black;
}
