button {
	text-align: left;
}

.dropbtn {
  background-color: white;
  color: black;
  width:350px;
  height:60px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
 
.dropbtn:hover, .dropbtn:focus {
  background-color: white;
}
 
.dropdown {
  position: relative;
  text-align: left;
  display: inline-block;
}
 
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
 
.dropdown a:hover {background-color: #ddd;}
 
.show {display: block;}

#logo {
	margin-top: 5px;
	border-color:rgb(200,200,200);
	width: 350px; height: 60px;
	position: absolute;
	top: 0px; left: 0px; 
	background-image: url('../img/long_logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#side_page {
	border: 1px solid; border-color:rgb(200,200,200);
	overflow: auto;
	width: 350px; height: 880px;
	position: absolute;
	top: 70px; left: 0px;
}

#center_page {
	border: 1px solid; border-color:rgb(200,200,200);
	overflow: auto;
	width: 1550px; height: 880px;
	position: absolute;
	top: 70px; left: 360px;
}

#logout {
	position:absolute;
	top:25px; left:1850px;
}