@charset "UTF-8";

.title1 {
	font-size: 30px;
	color: #A4A4A4;
	margin-left: 6px;
}

.apply {
	width: 100%;
	border-collapse: collapse;
	border-top: 3px solid #168;
	margin-top: -18px;
	text-align: center;
}

.apply th {
	color: #168;
	background: #f0f6f9;
	text-align: center;
}

.apply th, .apply td {
	padding: 10px;
	border: 1px solid #ddd;
}

.apply th:first-child, .apply td:first-child {
	border-left: 0;
}

.apply th:last-child, .apply td:last-child {
	border-right: 0;
}

h3 {
	color: #A4A4A4;
}

.except {
	margin-bottom: 20px;
}

/* 강의평가 */
#hh {
	width: 50px;
}

#ww {
	width: 10px;
}

.footer {
	text-align: center;
}

.btn {
	margin-left: 45%;
	width: 80px;
	height: 30px;
}

#select {
	width : 10%;
}


#sub_num {
	width : 10%;
}
#prof_name {
	width : 7%;
}
#sub_name {
	width : 25%;
}
#sub_time {
	width : 11%;
}
#sub_room {
	width : 8%;
}
#sub_max {
	width : 8%;
}
#sub_min {
	width : 8%;
}

#sub_state {
	width : 8%;
}

#sub_hak {
	width : 5%;
}
