@charset "UTF-8";

.penalty_check {
	font-size:30px;
	color:#A4A4A4;
	margin-left:6px;
}

 .penaltyCheck {
      width:100%;
      border-collapse: collapse;
      border-top: 3px solid #168;
      margin-top:20px;
      text-align: center;
    }  
    .penaltyCheck th {
      color: #168;
      background: #f0f6f9;
      text-align: center;
    }
    .penaltyCheck th, .penaltyCheck td {
      padding: 10px;
      border: 1px solid #ddd;
    }
    .penaltyCheck th:first-child, .penaltyCheck td:first-child {
      border-left: 0;
    }
    .penaltyCheck th:last-child, .penaltyCheck td:last-child {
      border-right: 0;
    }
    
    .penaltyCheck caption{caption-side: bottom; display: none;}