@charset "UTF-8";

.join {
	font-size:30px;
	color:#A4A4A4;
	margin-left:6px;
}


table.std_joininsert {
  width:100%;
  text-align: left;
  line-height: 1.5;
  border-collapse: collapse;
  border-top: 3px solid #168;
  margin-top : 28px; 
}

table.std_joininsert th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}

table.std_joininsert td {
  width: 360px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#req {
	margin-left: 45%;
	width: 80px;
	height: 30px;
}

.std_joininsert th {
	color: #168;
	background: #f0f6f9;
	text-align: center;
}