@charset "UTF-8";

.title {
	font-size:30px;
	color:#A4A4A4;
	margin-left:6px;
}


table.std_stateinsert {
  border-collapse: collapse;
  
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 3px solid #369;
  margin : 20px 10px;
}
table.std_stateinsert th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table.std_stateinsert td {
  width: 360px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.btn {
	
}

table {
	width:100%;
}

.text {
	border:none;
	width:100%;
	height:100%;
}
