table {
	width: 100%;
	border: 1px solid gray;
	border-top: 3px solid #168;
	position: absolute;
	top: 100px;
}

/* td {
	overflow: hidden; 넘치면 안보이게
	white-space : nowrap; 줄바꿈 안되게
	text-overflow: ellipsis; 넘치는거 ....으로 표시
} */

#infomenu {
	background-color: rgb(184, 215, 255);
	width: 140px;
	height: 22px;
	text-align: center;
	border: 1px solid gray;
	font-weight: bold;
}

#infovalue {
	width: 200px;
	height: 22px;
	border-bottom: 1px solid gray;
	text-align: center;
}

#profile{
	width: 143px;
	height: 173px;
	border: 1px solid gray;
}

#profiletext {
	width: 143px;
	height: 22px;
	text-align: center;
	font-size: 12px;
}

#mypage{
	font-weight:bold;
	font-size:30px;
	font-style: italic;
	text-align: center;
}