table {
	width: 100%;
	border: 1px solid gray;
	border-top: 3px solid #168;
	position: absolute;
	top: 100px;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top : -10px;
	
}

/* td {
	overflow: hidden; 넘치면 안보이게
	white-space : nowrap; 줄바꿈 안되게
	text-overflow: ellipsis; 넘치는거 ....으로 표시
} */
#infomenu {
	background-color: #f0f6f9;
	width: 100px;
	height: 40px;
	text-align: center;
	border-right: 1px solid gray;
	font-weight: bold;
}

#infovalue {
	width: 200px;
	height: 40px;
	text-align: center;
}

#profile {
	width: 180px;
	border: 1px solid gray;
}

#profiletext {
	width: 143px;
	height: 22px;
	text-align: center;
	font-size: 12px;
}

h2 {
	font-size: 30px;
	color: #A4A4A4;
	margin-left: 6px;
}

#guide {
	color: red;
}

#btn_add, #btn_email, #btn_pn, #btn_bank, #btn_profile {
	width: 80px;
	margin-top: 3px;
}

table tr, table td {
	padding: 10px;
	border: 1px solid #ddd;
}