<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgr.kgu.DAO.ADM_SCD_DAO">
	<insert id="insertinfo">
		INSERT INTO SCHEDULE(SCD_TITLE, SCD_NUM, SCD_CONT, ADM_NAME, ADM_NUM) VALUES (#{SCD_TITLE}, #{SCD_NUM}, #{SCD_CONT}, #{ADM_NAME}, #{ADM_NUM})
	</insert>
	
	<select id="getAllinfo" resultType="SCD_VO">
		SELECT * FROM SCHEDULE
	</select>

	<select id="getTelinfo" resultType="SCD_VO">
		SELECT * FROM SCHEDULE WHERE SCD_NUM=#{SCD_NUM}
	</select>

	<update id="updateinfo">
		UPDATE SCHEDULE SET SCD_TITLE=#{SCD_TITLE}, SCD_CONT=#{SCD_CONT} WHERE SCD_NUM=#{SCD_NUM}
	</update>
	
	<delete id="deleteinfo">
		DELETE FROM SCHEDULE WHERE SCD_NUM=#{SCD_NUM}
	</delete>
</mapper>