<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mgr.kgu.DAO.ADM_DAO">
	<select id="getAllinfo" resultType="com.mgr.kgu.VO.ADM_VO">
		SELECT * FROM ADMIN WHERE
		ADM_NUM = #{ADM_NUM} AND ADM_PW = #{ADM_PW};
	</select>
	
<!-- 	<select id="callMyallscholar" resultType="com.mgr.kgu.VO.ADM_VO">
		SELECT * FROM ADMIN
		WHERE ADM_NUM = #{ADM_NUM};
	</select> -->

<!-- 	 해당 아이디가 테이블에 존재하는지 확인하는 쿼리 NULL일 경우 없음
	<select id="searchADM" resultType="com.mgr.kgu.VO.ADM_VO">
		SELECT * FROM ADMIN WHERE
		ADM_NUM=#{id};
	</select> -->
</mapper>