<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgr.kgu.DAO.ADM_ANN_DAO">
	<insert id="insertinfo">
		INSERT INTO ANNOUNCE(ANN_TITLE, ADM_NUM, ANN_CONT) VALUES (#{ANN_TITLE}, #{ADM_NUM}, #{ANN_CONT})
	</insert>
	
	<select id="getAllinfo" resultType="ANN_VO">
		SELECT * FROM ANNOUNCE
	</select>

	<select id="getTelinfo" resultType="ANN_VO">
		SELECT * FROM ANNOUNCE WHERE ANN_NUM=#{ANN_NUM}
	</select>

	<update id="updateinfo">
		UPDATE ANNOUNCE SET ANN_TITLE=#{ANN_TITLE}, ANN_CONT=#{ANN_CONT} WHERE ANN_NUM=#{ANN_NUM}
	</update>
	
	<delete id="deleteinfo">
		DELETE FROM ANNOUNCE WHERE ANN_NUM=#{ANN_NUM}
	</delete>
</mapper>