<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mgr.kgu.DAO.PROF_DAO">
	<select id="getAllinfo" resultType="com.mgr.kgu.VO.PROF_VO">
		SELECT * FROM PROFESSOR WHERE PROF_NUM = ${prof_NUM} AND PROF_PW = ${prof_PW};
	</select>
</mapper>