<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mgr.kgu.DAO.STU_DAO">
	<select id="getlogininfo" resultType="com.mgr.kgu.VO.STU_VO">
		SELECT STU_NUM, STU_PW FROM STUDENT WHERE STU_NUM = #{STU_NUM} AND STU_PW = #{STU_PW};
	</select>
	
	<!-- 해당 아이디가 테이블에 존재하는지 확인하는 쿼리 NULL일 경우 없음 -->
	<select id="getAllinfo" resultType="com.mgr.kgu.VO.STU_VO">
		SELECT * FROM STUDENT WHERE STU_NUM = #{STU_NUM};
	</select>
	
	<update id="changedAddress" parameterType="String">
		UPDATE STU_VO SET STU_ADDRESS=#{STU_ADDRESS} WHERE STU_NUM=#{STU_NUM};
	</update>
</mapper>