<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mgr.kgu.Service.myService">
	<select id="getTelinfo" resultType="com.mgr.kgu.VO.StudentVO">
		SELECT * FROM
		STUDENT WHERE STU_NUM=111;
	</select>
</mapper>