<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
      <!--
            VO를 선언하여  mybatis/sql/하위의 쿼리들을 실행할때 resultType, parameterType에 
 풀 패키지명을 쓰지 않고 선언한 alias의 이름만 사용하여 VO를 주고 받을 수 있도록 해줌.
            
            **** 예시  ****    
            mybatis/mybatis-config.xml
            <typeAlias alias="TestVO" type="com.hee.heechart.VO.TestVO"></typeAlias>
            
            mybatis/sql/test.xml
             *alias를 선언했을 때
             <select id="getShowroomList" resultType="TestVO" parameterType="TestVO">
                  SELECT * FROM TableName WHERE ColumnName = #{parameter}
             </select>
      
             *alias를 선언하지 않았을 때
             <select id="getShowroomList" resultType="패키지명.TestVO"
                  parameterType="om.hee.heechart.VO.TestVO">
                  SELECT * FROM TableName WHERE ColumnName = #{parameter}
             </select>
      -->
      
      <typeAliases>
            <typeAlias alias="STD_VO" type="com.mgr.kgu.VO.STD_VO"></typeAlias>
            <typeAlias alias="TES_VO" type="com.mgr.kgu.VO.TES_VO"></typeAlias>
            <typeAlias alias="TSCD_VO" type="com.mgr.kgu.VO.TSCD_VO"></typeAlias>
            <typeAlias alias="SCD_VO" type="com.mgr.kgu.VO.SCD_VO"></typeAlias>
            <typeAlias alias="SEM_VO" type="com.mgr.kgu.VO.SEM_VO"></typeAlias>
            <typeAlias alias="TUI_VO" type="com.mgr.kgu.VO.TUI_VO"></typeAlias>
            <typeAlias alias="ADM_VO" type="com.mgr.kgu.VO.ADM_VO"></typeAlias>
            <typeAlias alias="VAC_VO" type="com.mgr.kgu.VO.VAC_VO"></typeAlias>
            <typeAlias alias="SUB_VO" type="com.mgr.kgu.VO.SUB_VO"></typeAlias>
            <typeAlias alias="DOM_VO" type="com.mgr.kgu.VO.DOM_VO"></typeAlias>
            <typeAlias alias="PROF_VO" type="com.mgr.kgu.VO.PROF_VO"></typeAlias>
            <typeAlias alias="SCH_VO" type="com.mgr.kgu.VO.SCH_VO"></typeAlias>
            <typeAlias alias="ATT_VO" type="com.mgr.kgu.VO.ATT_VO"></typeAlias>
            <typeAlias alias="GRA_VO" type="com.mgr.kgu.VO.GRA_VO"></typeAlias>
            <typeAlias alias="REV_VO" type="com.mgr.kgu.VO.REV_VO"></typeAlias>
            <typeAlias alias="ANN_VO" type="com.mgr.kgu.VO.ANN_VO"></typeAlias>
            <typeAlias alias="PEN_VO" type="com.mgr.kgu.VO.PEN_VO"></typeAlias>
      </typeAliases>
 
 
</configuration>